body {
    position: relative;
    margin: 0;
    height: 100vh;
    /* full viewport height */
    display: flex;
    justify-content: center;
    /* horizontal center */
    align-items: center;
    /* vertical center */
    background-color: #f5f5f5;
    /* optional, just for visibility */
}

#main-text {
    text-align: center;
    text-shadow: 3px 2px 3px black;
}

.key-code-info {
    display: none;
    text-align: center;
    padding: 20px 40px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.key-code-info h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.key-code-info h1 {
    margin-top: 10px;
    font-size: 2.5rem;
    color: #0078d7;
}

.card {
    width: 260px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    display: none;
    position: absolute;
    top: 361px;
    left: 65px;
}

.card-header {
    background: #0b57d0;
    color: #fff;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 10px;
    text-transform: lowercase;
}

.card-body {
    padding: 20px;
}

.card-body h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #222;
}

.card-body p {
    font-size: 0.9rem;
    color: #555;
}

/* Second Card */
.card2 {
    width: 260px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    display: none;
    position: absolute;
    top: 361px;
    left: 368px;
}

.card2-header {
    background: #0b57d0;
    color: #fff;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 10px;
    text-transform: lowercase;
}

.card2-body {
    padding: 20px;
}

.card2-body h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #222;
}

.card2-body p {
    font-size: 0.9rem;
    color: #555;
}

/* Third Card */
.card3 {
    width: 260px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    display: none;
    position: absolute;
    top: 361px;
    left: 664px;
}

.card3-header {
    background: #0b57d0;
    color: #fff;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 10px;
    text-transform: lowercase;
}

.card3-body {
    padding: 20px;
}

.card3-body h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #222;
}

.card3-body p {
    font-size: 0.9rem;
    color: #555;
}